/*
 * Breakpoint
 */
$all: 'all';
$screen: 'screen';

$medium-start  : 30em; //  480px
$large-start   : 48em; //  768px
$xlarge-start  : 67.75em; //  1084px
$xxlarge-start : 90em; //  1440px

/* Icomoon */
$icomoon-font-path: "../fonts" !default;
$icon-ctrl: "\ea50";

