/*
 * Colors
 */
$yellow: #ece81a;
$warmgray: #babbb1;
$red: #cb333b;
$purple: #9063cd;
$teal: #00b0b9;
$white: #fff;
$gray: #808080;
$mediumgray: #b3b3b3;
$lightgray: #ddd;
$extralightgray: #f5f5f5;
$verydark: #4d4d4d;

$primarycolor: $teal;
$secondarycolor: $purple;
$accentcolor: $yellow;
$linkcolor: $teal;

/* Typography */
$font-light: 'gotham-light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'gotham-bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-book: 'gotham-book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium: 'gotham-medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primaryfont: $font-book;
$font-color: $verydark;
$font-color-lighter: $gray;
$font-color-lightest: $mediumgray;

// Width of the content area
$contentwidth: 63em;

/* Breakpoints */
$medium-start  : 30em; //  480px
$large-start   : 48em; //  768px
$xlarge-start  : 67.75em; //  1084px
$xxlarge-start : 90em; //  1440px

$screen: 'screen';

/* Fonts */
$font-path: "../fonts" !default;

/* Icomoon */
$icomoon-font-path: $font-path;
$icon-ctrl: "\ea50";

$spacebetween: 1.25em;
$gutter: 1.25em;
