/* Based on: http://codepen.io/guuslieben/pen/bVeObG */

[class*='col-'] {

  margin-bottom: $spacebetween;
  min-height: 1.875em;
  padding: $spacebetween;



}

@media all and (min-width: $medium-start) {
  [class*='col-'] {
    margin-right: $gutter;

    &:last-child {
      @media all and (min-width: $medium-start) {
        margin-right: 0;
      }
    }
  }

  .col {

    &-1 {
      flex: 1;
    }

    &-2 {
      flex: 2;
    }

    &-3 {
      flex: 3;
    }

    &-4 {
      flex: 4;
    }

    &-5 {
      flex: 5;
    }

    &-6 {
      flex: 6;
    }

    &-7 {
      flex: 7;
    }

    &-8 {
      flex: 8;
    }

    &-9 {
      flex: 9;
    }

    &-10 {
      flex: 10;
    }

    &-11 {
      flex: 11;
    }

    &-12 {
      flex: 12;
    }


  }
}
