  <div class="navmenu">
    <div class="container-fluid">
      <div class="row end-xs">
        <div class="col-xs-3">
          <a href="#menu" class="menu-link">Menu</a>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
  
    <div class="row">
      <div class="col-xs-12">
        <nav id="menu" class="menu">
          <ul class="level-1">
              <li><a href="#"><img src="img/sun.png" style="width: 30px; height: 30px;" alt="sun" /></a></li>
              <li class="has-subnav"><a class="main-nav__link" href="#">About <i class="icon-ctrl-down"></i></a>
                <ul class="level-2">
                  <li><a href="#">Mission and Background</a></li>
                  <li><a href="#">Market Staff</a></li>
                  <li><a href="#">Chefs and Restaurants</a></li>
                </ul>
              </li>
              <li class="has-subnav"><a class="main-nav__link" href="#">Calendar <i class="icon-ctrl-down"></i></a>
                <ul class="level-2">
                  <li><a href="#">All Events</a></li>
                  <li><a href="#">Chef Demonstrations</a></li>
                  <li><a href="#">Markets</a></li>
                  <li><a href="#">Special Events</a></li>
                  <li><a href="#">The Edible Garden</a></li>
                </ul>
              </li>
              <li class="has-subnav"><a class="main-nav__link" href="#">Programs <i class="icon-ctrl-down"></i></a>
                <ul class="level-2">
                  <li><a href="#">Chef Demonstrations</a></li>
                  <li><a href="#">Club Sprouts</a></li>
                  <li><a href="#">Compost and Recycling Program</a></li>
                  <li><a href="#">Farmer Scholarship Program</a></li>
                  <li><a href="#">Field Trips</a></li>
                  <li><a href="#">Blue City Market Cost Comparison</a></li>
                </ul>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
