<header class="header">
  <div class="menu__block wrap">
    <div class="menu__logo">
      <div class="branding--menu">
          <a href="#" class="svg" title="OMED 2016">
            <object class="branding__logo--small" id="omedLogoWhite" data="img/omed-logo-white-alone.svg" type="image/svg+xml">
              <div id="svgFallback"></div>
            </object>
            <object class="branding__logo--large" id="omedLogoWhiteWithTagline" data="img/omed-logo-white-white-tagline.svg" type="image/svg+xml">
              <div id="svgFallback"></div>
            </object>
          </a>
      </div> <!-- .branding__block-alpha -->
    </div>
    <div class="menu__nav">
      <a href="#menu" class="menu__link">Menu</a>
      <div class="menu__items">
        <nav id="menu" class="menu wrap">
          <ul class="level-1 menu__list">
            <li class="menu__item"><a class="nav__link" href="#">Inspiration</a></li>
            <li class="has-subnav menu__item"><a class="nav__link" href="#">Education <i class="icon-ctrl-down"></i></a>
              <ul class="level-2">
                <li><a href="#">Tracks</a></li>
                <li><a href="#">Dual CME</a></li>
                <li><a href="#">Exhibits</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Dolor Commodo</a></li>
              </ul>
            </li>
            <li class="has-subnav menu__item"><a class="nav__link" href="#">Connection <i class="icon-ctrl-down"></i></a>
              <ul class="level-2">
                <li><a href="#">Receptions</a></li>
                <li><a href="#">Bibendum</a></li>
                <li><a href="#">Aenean Bibendum Elit</a></li>
              </ul>
            </li>
          </ul>
          <ul class="level-1 menu__list--minor">
            <li class="menu__item--minor">
              <a class="nav__link svg" href="#">
                <object id="menuTicket" class="nav__icon" data="img/icon-ticket-white.svg" type="image/svg+xml">
                  <div class="svg-fallback"></div>
                </object>
                <span class="nav__label">Register</span>
              </a>
            </li>
            <li class="menu__item--minor">
              <a class="nav__link svg" href="#">
                <object id="menuAirliner" class="nav__icon" data="img/icon-airliner-white.svg" type="image/svg+xml">
                  <div class="svg-fallback"></div>
                </object>
                <span class="nav__label">Travel</span>
              </a>
            </li>
            <li class="menu__item--minor">
              <a class="nav__link svg" href="#">
                <object id="menuTelephone" class="nav__icon" data="img/icon-telephone-white.svg" type="image/svg+xml">
                  <div class="svg-fallback"></div>
                </object>
                <span class="nav__label">Get help</span>
              </a>
            </li>
            
          </ul>
        </nav>
      </div> <!-- .navmenu -->
    </div>
  </div> <!-- .menu__block -->
</header>
