---
layout: page
title: Connection
inside: true
---

{% include splash.html 
    emph="Lorem" 
    header="ipsum dolor" 
    text="Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus."
    variant="connection"
    inside=true
%}

<div class="container-fluid main">
  <div class="row">
    <div class="col-lg-2 leftnav__block">
      <ul class="leftnav__items">
        <li class="leftnav__item">
          <a href="#">Receptions</a>
        </li>
        <li class="leftnav__item">
          <a href="#">General sessions</a>
        </li>
        <li class="leftnav__item">
          <a href="#">Networking opportunities</a>
        </li>
        <li class="leftnav__item">
          <a href="#">Fore You Golf tournament</a>
        </li>
        <li class="leftnav__item">
          <a href="#">Fun run</a>
        </li>
      </ul>
    </div>
   
  </div> <!-- .row -->
</div> <!-- .main -->

{% include dummy.html %}

