.branding {

  &__block {

    &--omed {

    }

    &--aoa {
      display: none;

      @include breakpoint($screen $navflip) {
        display: block;
        position: relative;
        top: 3.125em;
        width: 12.25em;
        opacity: .6;
        transition: opacity;
        transition-duration: $transitionduration;

        &:hover {
          opacity: 1;
        }
      }
    }


  }

  &__logo {

    &--small {

      @include breakpoint($screen $navflip) {
        display: none;          
      }

    }
    
    &--large {
      display: none;

      @include breakpoint($screen $navflip) {
        display: block;
      }
    }

  }

}

#aoaLogo div {
  background-image: url(img/aoa-logo-horiz-white.png);
}
