.branding {

  display: none;

  @include breakpoint($screen $navflip) {
    display: block;
    position: relative;
    /*top: 3.125em;*/
    width: 12.25em;
    z-index: 10;
    float: right;
    opacity: .8;
    transition: opacity;
    transition-duration: $transitionduration;

    &:hover {
      opacity: 1;
    }
  }

  &__block {
  }


  &--menu {
    @include breakpoint($screen $navflip) {
      width: 24.375em;
    }
  }


  &__logo {

    &--small {

      max-width: 187px; 
      height: auto;

      @include breakpoint($screen $navflip) {
        display: none;          
      }

    }
    
    &--large {
      display: none;

      @include breakpoint($screen $navflip) {
        display: block;
      }
    }

  }
}



#omedLogoWhite div {
  background-image: url(../img/omed-logo-white-alone.png);
  background-size: 15.25em;
}

#omedLogoWhiteWithTagline div {
  background-image: url(../img/omed-logo-white-white-tagline.png);
  background-size: 15.25em;
}

#omedLogoTeal div {
  background-image: url(../img/omed-logo-teal.png);
  /*background-size: 15.25em;*/

}
