.branding {

  &__block {

    &--omed {
      @include breakpoint($screen $navflip) {
        width: 24.375em;
      }
    }

    &--aoa {
      display: none;

      @include breakpoint($screen $navflip) {
        display: block;
        position: relative;
        top: 3.125em;
        width: 12.25em;
        opacity: .6;
        transition: opacity;
        transition-duration: $transitionduration;

        &:hover {
          opacity: 1;
        }
      }
    }


  }

  &__logo {

    &--small {

      max-width: 187px; 
      height: auto;

      @include breakpoint($screen $navflip) {
        display: none;          
      }

    }
    
    &--large {
      display: none;

      @include breakpoint($screen $navflip) {
        display: block;
      }
    }

  }

}

#aoaLogo div {
  background-image: url(../img/aoa-logo-horiz-white.png);
  background-size: 12.25em;
}

#omedLogoWhite div {
  background-image: url(../img/omed-logo-white-alone.png);
  background-size: 15.25em;
}

#omedLogoTeal div {
  background-image: url(../img/omed-logo-teal.png);
  /*background-size: 15.25em;*/

}
