.content {

  display: flex;
  flex-direction: column;

  @include breakpoint($screen $navflip) {
    flex-direction: row;
    justify-content: space-between;
  }
  

  &__left {
    display: none;
    flex-basis: 16.66666667%; // 2 of 12

    @include breakpoint($screen $navflip) {
      display: block;
    }
  }

  &__center {
    /*flex-basis: 58.33333333%; // 7 of 12*/
    flex-basis: 50%; // 7 of 12
    position: relative;


    &:before {
      content: "";
      position: absolute;
      left: -2.6875rem;
      top: 0;
      bottom: 0;
      border-right: 1px solid $yellow;
    }
  }

  &__right {

    flex-basis: 25%; // 3 of 12
  }

}
