.header {

  height: $navbarheight;
  background: $teal;

  @include breakpoint($screen $navflip) {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    background: none;
    transition-property: background-color, border;
    transition-duration: $transitionduration;
    transition-timing-function: ease;
    /*display: flex;*/
    /*justify-content: space-between;*/
    
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//    z-index: 100;
//    background: rgba($teal, .3);

    .sticky & {
      position: fixed;  
      top: 0;
      z-index: 100;
      background-color: $white;
      box-shadow: 0 0px 18px rgba($verydark,.1);
      border-bottom: 1px solid #e9f0f3;
    }
  }


  &__block {
    /*@extend %container-fluid-base;*/

    @include breakpoint($screen $navflip) {
      /*width: 50%;*/
    }

    &:last-child {

      @include breakpoint($screen $navflip) {
        /*float: right;*/
      }
    }
  }


}
