.header {

  height: $navbarheight;
  background: $teal;

  @include breakpoint($screen $navflip) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $contentwidth;
    background: none;
    
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//    z-index: 100;
//    background: rgba($teal, .3);

  }

  &__block {
    /*@extend %container-fluid-base;*/

    @include breakpoint($screen $navflip) {
      /*width: 50%;*/
    }

    &:last-child {

      @include breakpoint($screen $navflip) {
        /*float: right;*/
      }
    }
  }


}
