$highlightablebreak: $large-start;

.highlightable {

  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background: $teal;
  border-top: 7px solid $yellow;
  border-bottom: 7px solid $yellow;

  @include breakpoint($screen $highlightablebreak) {
    /*height: 13.75em;*/
  }
  

  &__block {

  }

  &__kicker {
    color: $white;
  }

  &__header {
    color: $yellow;
  }

  &__body {

  }

  &__imagecontainer {
    position: relative;
    bottom: -3em;
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($screen $highlightablebreak) {
      top: -3em;
      bottom: auto;
      max-width: none;
    }
  }

  &__image {
    box-shadow: 5px 5px 13px rgba($verydark,.3);
  }

}
