%menu-base {
  clear: both;
  transition: all 0.3s ease-out;
}

%js-menu-base {
  overflow: hidden;
  max-height: 0;
  /*background: rgba(0,0,0,0.1);*/
  background: $teal;
}

.menu {

  @extend %menu-base;
  @extend %wrap-base;
  @extend %container-fluid-base;

  @include breakpoint($screen $navflip) {
    
  }

  &__branding {
    @include breakpoint($screen $navflip) {
      width: 24.375em;
    }

  }

  &__block {
    position: relative;

    @include breakpoint($screen $navflip) {
      display: flex;
      /*flex-direction: column;*/
      /*flex-wrap: nowrap;*/
      /*justify-content: flex-end;*/
      /*width: 28.125em;*/
      width: 100%;
      height: 3.75rem;
      position: relative;
      top: -.25rem;
      /*background: $teal;*/
    }

    &.sticky {
      position: fixed;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include breakpoint($screen $navflip) {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &--minor {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: $medium-start;
      margin: 0 auto;

      @include breakpoint($screen $navflip) {
      }

    }
  
    /*@extend %container-fluid-base;*/
    /*@extend %wrap-base;*/
  }

  &__logo {
    /*margin-left: 1em;*/
    @extend %container-fluid-base;
    position: absolute;
    padding-top: 1em;

    @include breakpoint($screen $navflip) {
      position: relative;
      top: 1em;
      padding-top: 0;
      flex-grow: 9;
    }
  }

  &__nav {
    /*position: absolute;*/
    /*top: 20%;*/
    /*left: 0;*/
    /*right: 0;*/

    @include breakpoint($screen $navflip) {
      position: static;
      flex-grow: 1;
    }
  }

  &__items {
    color: $white;

    @include breakpoint($screen $navflip) {
      /*opacity: .6;*/
      border-top: 1px solid rgba($white,.1);
    }
  }
  
  &__item {
    top: .1875em;

    &--minor {
      flex-basis: 4rem;

    }
  }

  & > ul {
    /*border-top: 1px solid #808080;*/
  }

  & > ul ul {
    @extend %menu-base;
  }

  & li a {
    color: inherit;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /*border-bottom: 1px solid #808080;*/
    position: relative;

  }

  &__link {
    @extend %container-fluid-base;
    display: block;
    padding-top: 1.55rem;
    padding-bottom: 1rem;
    float: right;
    text-decoration: none;
    color: $white;

    
    
  }


  .js &, .js & > ul ul {
    @extend %js-menu-base;
  }

}

.js .menu {
  position: relative;
  top: .5625em;

  @include breakpoint($screen $navflip) {
    position: static;
  }
}

.menu.active, .js .menu > ul ul.active {
	max-height: 55em;
  padding-bottom: 1rem;
}

.menu li.has-subnav > a:after {
	content: '+';
	position: absolute;
	top: 1.1rem;
	left: 96%;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0;

  @include breakpoint($screen $medium-start) {
    left: 97%;
  }

  @include breakpoint($screen $large-minor-start) {
    left: 98%;
  }

  @include breakpoint($screen $large-start) {
    left: 99%;
  }
}

.menu li.has-subnav > a.active:after {
	content: "-";
}


@include breakpoint($screen $navflip) {
	.pattern {
		overflow: visible;
	}

	.menu__link {
	   display: none;
	}
	.js .menu, .js .menu > ul ul {
		max-height: none;
		overflow: visible;
		background: none;
	}
	.js .menu > ul ul {
    background: rgba(0,0,0, .2);
    position: absolute;
    opacity: 0;
    transition: $transitionduration ease;
    visibility: hidden;
		/*display: none;*/
	}
	.js .menu > ul li:hover > ul {
		/*display: block;*/
    visibility: visible;
    opacity: 1;
    z-index: 99;
	}
	.menu ul {
		margin: 0 0 0 -0.25em;
		border: 0;

    @include breakpoint($screen $navflip) {
      max-width: 26.125em;
    }
	}
	.menu li a {
		border: 0;
	}
	.menu li.has-subnav > a {
		/*padding-right: 2em;*/
	}
	.menu li.has-subnav > a:after {
		/*content: ">";*/
    content: "";
    display: inline-block;
    transform: rotate(180deg);
		/*content: "\ea50";*/
		/*font-size: 1em;*/
		/*padding: 0.8em 0.5em;*/
	}
	.menu .level-1 > li.has-subnav > a:after {
    content: "";
	}
	.menu > ul li {
		margin: 0 0.25em;
	}
	.menu > ul > li {
		/*display: inline-block;*/
		position: relative;
	}
	.menu > ul ul {
		position: absolute;
		top: 0;
		left: 12em;
		width: 12em;
	}
	.menu > ul ul li {
		position: relative;
	}
	.menu > ul ul.level-2 {
		top: 2.375em;
		left: -28px;
    padding-left: 28px;
	}

  /* New */
  .level-2 li {
    font-size: .8125em;
    opacity: .6;
  }

  .level-2 li a {
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}
