%menu-base {
  clear: both;
  transition: all 0.3s ease-out;
}

%js-menu-base {
  overflow: hidden;
  max-height: 0;
  /*background: rgba(0,0,0,0.1);*/
  background: $teal;
}

.menu {

  @extend %menu-base;

  &__block {
    position: relative;
  }

  &__logo {
    margin-left: 1em;
    padding-top: 1em;
  }

  &__nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  &__items {
    color: $white;

    @include breakpoint($screen $navchange) {
      float: right;
    }
  }
  
  &__item {
    
  }

  & > ul {
    /*border-top: 1px solid #808080;*/
  }

  & > ul ul {
    @extend %menu-base;
  }

  & li a {
    color: inherit;
    display: block;
    padding: 0.8em;
    /*border-bottom: 1px solid #808080;*/
    position: relative;

  }

  &__link {
    display: block;
    padding: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    float: right;
    text-decoration: none;
    color: $white;
  }


  .js &, .js & > ul ul {
    @extend %js-menu-base;
  }

}

.js .menu {
  position: relative;
  top: .5625em;
}

.menu.active, .js .menu > ul ul.active {
	max-height: 55em;
}

.menu li.has-subnav > a:after {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
}

.menu li.has-subnav > a.active:after {
	content: "-";
}


@include breakpoint($screen $navchange) {
	.pattern {
		overflow: visible;
	}

	.menu__link {
	   display: none;
	}
	.js .menu, .js .menu > ul ul {
		max-height: none;
		overflow: visible;
		background: none;
	}
	.js .menu > ul ul {
		background: $teal;
		display: none;
	}
	.js .menu > ul li:hover > ul {
		display: block;
    z-index: 99;
	}
	.menu ul {
		margin: 0 0 0 -0.25em;
		border: 0;
	}
	.menu li a {
		border: 0;
	}
	.menu li.has-subnav > a {
		padding-right: 2em;
	}
	.menu li.has-subnav > a:after {
		/*content: ">";*/
    content: "";
    display: inline-block;
    transform: rotate(180deg);
		/*content: "\ea50";*/
		/*font-size: 1em;*/
		/*padding: 0.8em 0.5em;*/
	}
	.menu .level-1 > li.has-subnav > a:after {
    content: "";
	}
	.menu > ul li {
		margin: 0 0.25em;
	}
	.menu > ul > li {
		display: inline-block;
		position: relative;
	}
	.menu > ul ul {
		position: absolute;
		top: 0;
		left: 12em;
		width: 12em;
	}
	.menu > ul ul li {
		position: relative;
	}
	.menu > ul ul.level-2 {
		top: 3em;
		left: 0;
	}
}
