.nav {

  position: fixed;
  z-index: 1000;

  &__block {
  }

  &__link {
    text-transform: uppercase;
    font-size: .8125em;
    letter-spacing: 1px;
    position: relative;

    @include breakpoint($screen $navflip) {
      &:after {
        content: '';
        position: absolute;
        top: -.5em;
        bottom: -.5em;
        left: -.5em;
        right: -.5em;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

}
