@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes first {

  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}


.fade-in {

  &--left {
      opacity: 0;
      animation-name: first;
      animation-timing-function: ease-in;
      animation-iteration-count: once;
      animation-duration: 1s;
      animation-fill-mode: forwards;
  }

}


.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.splash {

  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height: 325px;
  width: 100%;
  font-size: 1em;
  background-image: url(../img/omed-super-duotone-refresh-62.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: $warmgray;

  @include breakpoint($screen $large-start) {
    height: 650px;
  }

  @include breakpoint($screen $navflip) {
    /*top: -$navbarheight;*/
  }

  &__emph {
    font-family: $font-bold;
    font-size: 250%;
    letter-spacing: -1px;
    color: $teal;

    @include breakpoint($screen $medium-start) {
      /*font-size: 3.5em;*/
    }

    @include breakpoint($screen $large-start) {
      /*font-size: 6.6875em;*/
    }

  }

  &__block {

    position: absolute;
    bottom: 5%;

  }

  &__header {
    /*animation-delay: .7s;*/

    @include breakpoint($screen $large-start) {
      font-size: 2em;
    }
  }
  
  &__body {
    animation-delay: 1.4s;

  }


}

#aoaLogo div {
  background-image: url(../img/aoa-logo-horiz-white.png);
  background-size: 12.25em;
}
