.splash {

  &__figure {

  }

  &__background {
    position: absolute;
    height: 100%;
    max-height: 12em;
    width: 100%;
    background-image: url(../img/omed-super-attend-18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

    @media screen and (min-width: $medium-start) {
      max-height: initial;
    }
    
  }

  &__body {
    color: fuchsia;
  }

}
