---
layout: default
---

<div class="container-fluid wrap content">

  <!--  Navigation -->
  {% include pagenav.html items=page.pagenav %}

  <!--   Main content -->
  <section class="content__center">
    <article>
      {{ content }}
    </article>



  </section> <!-- .col -->

  <!--   Callouts -->
  {% include callouts-side.html callouts=page.callouts %}


</div> <!-- .content -->

<!-- Highlightable -->
<div class="highlightable--flipped highlightable--pinned container-fluid relative" id="highlightable">
  <div class="highlightable__block wrap">
    <div class="highlightable__body">
      <div class="highlightable__imagecontainer">
        <img class="highlightable__image" src="/img/deepak-quick.png" id="highlightableImage" alt="" />
      </div> <!-- .highlightable__imagecontainer -->
      <div class="highlightable__text">
        <h5 class="highlightable__kicker">Ornare Condimentum</h5>
        <h4 class="highlightable__header">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non lorem ipsum dolor.</h4>
        <button class="btn btn--sm btn--primary">Lorem ipsum</button>
      </div> <!-- .highlightable__text -->
    </div> <!-- .highlightable__body -->
  </div> <!-- .highlightable__block -->
</div>
